<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Test</title>
    <style>
        #chat-messages {
            height: 400px;
            width: 1200px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <h1>유저 닉네임 입력</h1>
    <input id="nickname" type="text">
    <h1>채팅방 리스트</h1>
    <div id="chat-list"></div>
    <h1>채팅방</h1>
    <div id="chat-box">
        <div id="chat-messages"></div>
        <input type="file" id="imageInput">
        <input type="text" id="messageInput">
        <button id="send">Send</button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            getChatList(); // 페이지 로드 시 채팅방 목록 로드
        });
        function getCookie(name) {
            const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return cookieValue ? cookieValue.pop() : '';
        }
        const chatMessages = document.getElementById('chat-messages');
        const imageInput = document.getElementById('imageInput');
        const messageInput = document.getElementById('messageInput');
        const nickname = document.getElementById('nickname');
        const access = getCookie('ac')
        const csrf = getCookie('csrftoken')
        console.log(access)
        let socket = null; // 전역 변수로 WebSocket 선언

        async function getChatList(){
            await fetch('http://localhost:8000/api/chat/', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${access}`,
                    'X-CSRFToken': csrf
                },
                withCredentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const roomContainer = document.getElementById('chat-list');
                roomContainer.innerHTML = ''; // 초기화
                data.forEach(room => {
                    const roomDiv = document.createElement('div');
                    roomDiv.innerHTML = `<p>${room.user_info.nickname}</p>`;
                    roomDiv.innerHTML += `<p>${room.last_message.text}</p>`;
                    roomDiv.innerHTML += `<button onclick="enterChatRoom(${room.id})">참가하기</button>`
                    roomDiv.onclick = function() {
                        enterChatRoom(room.id);
                    };
                    roomContainer.appendChild(roomDiv);
                });
            })
            .catch(error => {
                console.error('Error fetching chat rooms:', error);
            });
        }
        async function getMessages(roomId) {
            await fetch(`http://localhost:8000/api/chat/${roomId}/`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${access}`,
                    'X-CSRFToken': csrf
                },
                withCredentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const chatContainer = document.getElementById('chat-messages');
                chatContainer.innerHTML = ''; // 초기화
                data.messages.forEach(message => {
                    chatContainer.innerHTML += `<p>${message.nickname} : ${message.text}, ${message.status}</p>`;
                });
            })
            .catch(error => {
                console.error('Error fetching chat rooms:', error);
            });
        }
        function chatSocketClose() {
            if (socket && socket.readyState === WebSocket.OPEN) {
                    socket.close();
                    socket = null;
                }
            }
        function enterChatRoom(roomId) {
            // WebSocket 연결
            chatSocketClose();
            if (socket === null) {
                socket = new WebSocket(`ws://localhost:8000/ws/chat/${roomId}/`);
                {#const socket = new WebSocket(`ws://localhost:8000/ws/chat/${roomId}/`); // 채팅방 ID를 지정해야 합니다.#}
                getMessages(roomId)

                // 메시지 수신 처리
                socket.onmessage = function (event) {
                    const data = JSON.parse(event.data);
                    console.log(data)
                    const message = data.message;
                    const nickname = data.nickname;
                    const imageUrl = data.image_url;
                    const status = data.status;
                    console.log(imageUrl, nickname, message)
                    const imageTag = imageUrl ? `<img src="${imageUrl}" style="width: 100px; height: 100px;">` : '';
                    const messageHtml = `<p><strong>${nickname}:</strong> ${message}</p><span style="font-size: 13px;">${status}</span>`;
                    chatMessages.innerHTML += imageTag + messageHtml; // 이미지와 텍스트 함께 출력
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                };
                // 파일 선택 이벤트 핸들러
                imageInput.addEventListener('change', function (event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (event) {
                            const imageData = event.target.result;
                            imageInput.imageData = imageData; // 이미지 데이터를 input 요소에 저장
                        };
                        reader.readAsDataURL(file); // 이미지 파일을 읽음
                    }
                });
                // 이미지, 텍스트 전송 함수
                const sendButton = document.getElementById("send")
                sendButton.addEventListener('click', function () {
                    const imageData = imageInput.imageData || ''; // 이미지 데이터 가져오기
                    const message = messageInput.value;
                    socket.send(JSON.stringify({
                        'image': imageData,
                        'message': message,
                        'nickname': nickname.value // 본인의 닉네임을 여기에 입력하세요.
                    }));
                    messageInput.value = ''; // 메시지 전송 후 입력 필드 비우기
                    imageInput.imageData = ''; // 이미지 데이터 초기화
                })
            }
        }

    </script>
</body>
</html>

