# Python
__pycache__/
*.pyc
.mypy_cache
.coverage
.venv
.python-version
test.sh

# Git
.gitignore
.git/

# IDE
.idea/

# OS
.DS_Store

# DB
db.sqlite3

# other
env_for_sharing
diff*
images/
static/
logs/
django.log

